#root-div {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.white-pixel {
    background-color: white;
}

.black-pixel {
    background-color: black;
}

main {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.input {
    padding-bottom: 20px;
}